/* ======= Nutrition styles ======= */
.nutrition-navigation-container{
    display: grid;
    grid-template-columns: 10% 80%;
}

.calorie-button{
    padding: 1rem;
    background-color: var(--green);
    color: white;
    border-radius: 0.5rem;
    width: 13rem;
    cursor: pointer;
    border: none;
    z-index: 9999;
}

.navigation-container{
    text-align: center;
}

.navigation-container span{
    cursor: pointer;
    color: var(--green);
    padding: 1rem;
}

.date-navigation-container span{
    font-size: 1rem;
}

.calorie-counter-container{
    margin-top: 5rem;
}

.calorie-title{
    font-size: 1.8rem;
}

.calorie-count{
    color: var(--green);
    font-size: 1.6rem;
}

.meals-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    grid-gap: 3rem;
}

.meals-bubble{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3rem;
}

.meals-bubble h6{
    margin-left: 3rem;
    font-size: 1.5rem;
}

.add-see-food-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.meals-bubble p{
    color: var(--green);
    margin-top: 5rem;
    font-weight: bold;
    margin-right: 3rem;
    cursor: pointer;
}

.meal-item-count{
    font-size: 1.5rem;
    margin-left: 27rem;
    position: relative;
    top: -5rem;
    color: var(--green);
}

.all-data-modal{
    z-index: 10000;
    display: none;
    position: absolute;
    background-color: white;
    border: 3px solid black;
    width: 50%;
    padding: 5rem 10rem 5rem 2rem;
    left: 18rem;
    top: 10rem;
    border-radius: 3rem;
    overflow-y: scroll;
    overflow-x: visible;
    height: 50vh;
}

.exit-modal{
    float: right;
    margin-bottom: 5rem;
    font-size: 1.25rem;
    color: var(--green);
    cursor: pointer;
}

.add-food-modal{
    z-index: 10000;
    display: none;
    position: absolute;
    background-color: white;
    border: 3px solid black;
    width: 50%;
    padding: 5rem;
    left: 18rem;
    top: 13rem;
    border-radius: 3rem;
}

.modal-title{
    font-size: 2rem;
    text-align: center;
}

.add-food-input{
    padding: 1rem 3rem 1rem 1.5rem;
    border: 2px solid black;
    width: 50%;
    margin-left: 20%;
}

.add-food-button{
    margin-left: 20%;
    padding: 1rem;
    background-color: var(--green);
    color: white;
    border-radius: 0.5rem;
    margin-top: 2rem;
    width: 10rem;
    cursor: pointer;
    border: none;
}

.display-nutrition-data-column{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
}

.display-nutrition-data-column p{
    padding: 2rem;
}

