:root {
    /* Colour Palette for Website */
    --green: #05BD2D;
    --dark-green: #3f663f;
    --shadow: #ffffff78;
    --black: #363636;
    --white: #f9f9f9;
}

.outline {
    border: 1px dotted black;
}

html, body {
    display: flex;
    font-family: 'Inter', sans-serif;
    background-color: var(--off-white);
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden; /* Hide scrollbars */
}

.content-holder {
    background-color: var(--dark-green);
}

.submit {
    color: var(--green);
}

.content-main {
    height:100%;
}

/* Navigation Bar */

.nav-selected {
    background-color: var(--green);
}

.nav-unselected {
    border: 1px dotted red;
}

.nav-selected,
.nav-unselected {
    border-radius: 1em;
    width: 90%;
    margin: auto;
    text-align: center;
}

.content-nav, nav {
    width: 10em;
    height: 95%;
    padding: 0;
}

ul {
    padding: .75em;
    list-style-type: none;
    height: 100%;
}

a {
    text-decoration: none;
    padding: .25em;
}

/*  */

.content-title {
    background-color: var(--green);
    color: var(--white);
}

.content-holder {
    background-color: var(--white);
    color: var(--black);
}


.content-holder, .content-title {
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow);
    width: fit-content;
    margin: 10px;
}

h1 {
    color: var(--white);
}

h2 {
    color: var(--black)
}

h1, h2 {
    text-shadow: 2px 2px 0 var(--text-shadow);
    height: 100%;
    padding: 5px;
    margin: 20px 0;
}
