:root {
    /* Colour Palette for Website */
    --green: #05BD2D;
    --dark-green: #3f663f;
    --shadow: #ffffff78;
    --black: #363636;
    --white: #f9f9f9;
}

.outline {
    border: 1px dotted black;
}

html, body {
    font-family: 'Inter', sans-serif;
    background-color: var(--off-white);
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.flex-container {
    display: flex;
}

.content-holder {
    background-color: var(--dark-green);
}

.submit {
    color: var(--green);
}

.content-main {
    height:100%;
}

/* Navigation Bar */

.nav-selected {
    background-color: var(--green);
}

.nav-unselected {
    border: 1px dotted red;
}

.nav-selected,
.nav-unselected {
    border-radius: 1em;
    width: 90%;
    margin: auto;
    text-align: center;
}

.content-nav, nav {
    width: 10em;
    height: 95%;
    padding: 0;
}

ul {
    padding: .75em;
    list-style-type: none;
    height: 100%;
}

a {
    text-decoration: none;
    padding: .25em;
    color: var(--black)
}

/*  */

.content-title {
    background-color: var(--green);
    color: var(--white);
}

.content-holder {
    background-color: var(--white);
    color: var(--black);
}


.content-holder, .content-title {
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow);
    width: fit-content;
    margin: 10px;
}

h1 {
    color: var(--white);
}

h2 {
    color: var(--black)
}


/*======= Home Dashboard styles =======*/
.align-center{
    text-align: center;
}
.page-container{
    display: flex;
}

.vertical-navigation{
    width: 15rem;
    height: 100vh;
    border-right: 3px solid black;
    position: fixed
}

.link-container{
    margin-top: 4rem;
}

.current{
    background-color: var(--green);
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.current p{
    margin: 0;
}
.current a{
    color: white;
}

.logout-link-container{
    position: absolute;
    bottom: 0;
    width: 13rem;
    padding: 1rem;
    background-color: black;
}

.logout a {
    color: white;
}

.page-info-container{
    padding: 1rem 3rem 3rem 18rem;
    width: 100%;
    overflow-y: scroll;
}

.welcome-card{
    padding: 2rem;
    border-radius: 3rem;
    background-color: var(--green);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome-card h2{
    color: white;
    font-size: 3rem;
    text-align: center;
}

.fitness-info-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 3rem;
}

.fitness-info{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3rem;
    padding-bottom: 10rem;
}

.fitness-info h3{
    text-align: center;
}

/* ======= Index styles ======= */

header {
    background-color: var(--green);
    color: var(--white);
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-buttons {
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 100%;
}

.button { 
    display: flex; /* this makes it a flex container */
    justify-content: center; /* this centers the contents horizontally */
    align-items: center;

    font-size: large;
    background-color: var(--green);
    color: var(--white);

    padding: 10px 20px;
    cursor: pointer;
    
    width: 150px;
    height: 50px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
    background-color: var(--white);
    color: var(--green);
}

.hero {
    text-align: center;
    padding: 50px 200px;
    color: var(--white);
    font-size: larger;
}

nav {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    width: 240px;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 1em;
}

.features h3 {
    text-align: center;

}
/*======= Nutrition styles =======*/
.date-navigation-container{
    text-align: center;
}

.date-navigation-container span{
    font-size: 1rem;
}

.calorie-counter-container{
    margin-top: 5rem;
}

.calorie-title{
    font-size: 1.8rem;
}

.calorie-count{
    color: var(--green);
    font-size: 1.6rem;
}

.meals-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
    grid-gap: 3rem;
}

.meals-bubble{
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3rem;
}

.meals-bubble h6{
    margin-left: 3rem;
    font-size: 1.5rem;
}

.meals-bubble p{
    color: var(--green);
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
}

.meal-item-count{
    font-size: 1.5rem;
    margin-left: 27rem;
    position: relative;
    top: -5rem;
    color: var(--green);
}


/*======= Admin styles =======*/
.admin-title{
    color: black;

}

.user-info-container{
    border: 3px solid var(--green);
    border-radius: 3rem;
    padding-bottom: 3rem;
}

.user-info{
    display: flex;
    width: 100%;
    text-align: center;
    border-bottom: 3px solid var(--green);
}


.delete-user-form{
    padding-right: 3rem;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.delete-user-form button{
    padding: 1rem 3rem;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.user-info div{
    padding-right: 3rem;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}