<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></head> 
</head>
<body>
    <div class="page-container">
        <div class="vertical-navigation">
            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Home</a></p>
            </div>

            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Nutrition tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center"><a href="/workouts">Workout Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Meal Plans</a></p>
            </div>
            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Recipes</a></p>
            </div>

            <div class="link-container current">
                <p class="align-center"><a href="/admin" th:if="${#authentication.getPrincipal().getAuthorities()[0].getAuthority()} == 'ADMIN'">Admin</a></p>
            </div>
            
            <div class="logout-link-container">
                <p class="align-center logout"><a href="#">Log out</a></p>
            </div>
        </div>
        <div class="page-info-container">
            <h1 class="admin-title">Admin Actions</h1>
            <div class="user-info-container">
                <div class="user-info" th:each="user:${us}">
                    <div class="user-info-id">
                        <p th:text="${user.getId()}"></p>
                    </div>
                    
                    <div>
                        <p th:text="${user.getName()}"></p>
                    </div>
                    <div>
                        <p th:text="${user.getEmail}"></p>
                    </div>

                    <div>
                        <p th:text="${user.getAuthorities()}"></p>
                    </div>
                    <form class="delete-user-form">
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>