<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="page-container">
        <div class="vertical-navigation">
            <div class="link-container">
                <p class="align-center current"><a href="/dashboard">Home</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/nutrition">Nutrition Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/workouts">Workout Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/plans">Meal Plans</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/admin"><span th:if="${#authentication.getPrincipal().getAuthorities()[0].getAuthority()} == 'ADMIN'">Admin</span></a></p>
            </div>

            <div class="logout-link-container">
                <p class="align-center logout"><a href="/logout">Log out</a></p>
            </div>
        </div>


        <div class="page-info-container">
            <div class="welcome-card">
                <h2>Welcome, <span th:text="${#authentication.getPrincipal().getName}"></span>. Here is your fitness summary</h2>
            </div>
            <div class="fitness-info-container">
                <div class="fitness-info">
                    <h3>Nutrition Summary</h3>
                    <div class="fitness-summary">
                        <span class="count" >Daily Calories Remaining: 2000</span>
                        <span class="count" >Daily Goal Progress: 0%</span>
                        <a href="/nutrition" class="button">Add Food</a>
                    </div>
                </div>
                <div class="fitness-info">
                    <h3>Workout Summary</h3>
                    <div class="fitness-summary">
                        <span class="count" id="remainingCount">
                            You have done 
                            <span th:text="${workoutsCounter}"></span> 
                            workout(s) all time!
                        </span>
                        <span class="count" id="workProgs">
                            Daily Goal Progress:<!-- <span th:text="${#numbers.formatDecimal(workoutPercentage, 1, 2)}"></span>  -->0%</span>
                        <a href="/workouts" class="button">Add Workout</a>
                    </div>
                </div>
                <div class="fitness-info">
                    <h3>Meal Plan Summary</h3>
                    <div class="fitness-summary">
                        <span class="count" >Next Meal: Lunch</span>
                        <span class="count" >Daily Goal Progress: 0%</span>
                        <a href="/plans" class="button">View Receipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const workoutGoal = parseInt(localStorage.getItem('workoutGoal'));
        const workoutProgress = parseInt(localStorage.getItem('workoutCount'));
        const dailyProgress = (workoutProgress / workoutGoal)*100;
        const workoutProgs = document.getElementById('workProgs');
        workoutProgs.textContent = `Daily Goal Progress: ${dailyProgress.toFixed(1)}%`;
    </script>
</body>
</html>