<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="page-container">
        <div class="vertical-navigation">
            <div class="link-container">
                <p class="align-center current"><a href="/dashboard">Home</a></p>
            </div>

            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Nutrition tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Workout Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Meal Plans</a></p>
            </div>
            <div class="link-container">
                <p class="align-center"><a href="/dashboard">Recipes</a></p>
            </div>

            <div class="link-container">
                <p class="align-center"><a href="/admin"><span th:text="${#authentication.getPrincipal().getAuthorities[0]}"></span></a></p>
            </div>

            <div class="logout-link-container">
                <p class="align-center logout"><a href="#">Log out</a></p>
            </div>
        </div>
        <div class="page-info-container">
            <div class="welcome-card">
                <h2>Welcome, <span th:text="${#authentication.getPrincipal().getName}"></span>. Here is your fitness summary</h2>
            </div>
            <div class="fitness-info-container">
                <div class="fitness-info">
                    <h3>Nutrition Summary</h3>
                </div>
                <div class="fitness-info">
                    <h3>Workout Summary</h3>
                </div>
                <div class="fitness-info">
                    <h3>Meal Plan Summary</h3>
                </div>
                <div class="fitness-info">
                    <h3>Recipe Summary</h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>