<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>
<body>
    <div class="page-container">
        <div class="vertical-navigation">
            <div class="link-container">
                <p class="align-center current"><a href="/dashboard">Home</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/nutrition">Nutrition Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/workouts">Workout Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/plans">Meal Plans</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/admin"><span th:if="${#authentication.getPrincipal().getAuthorities()[0].getAuthority()} == 'ADMIN'">Admin</span></a></p>
            </div>

            <div class="logout-link-container">
                <p class="align-center logout"><a href="/logout">Log out</a></p>
            </div>
        </div>


        <div class="page-info-container">
            <div class="welcome-card">
                <h2>Welcome, <span th:text="${#authentication.getPrincipal().getName}"></span>. Here is your fitness summary</h2>
            </div>
            <div class="fitness-info-container">
                <div class="fitness-info">
                    <h3>Nutrition Summary</h3>
                    <div class="fitness-summary">

                        <p>Aspect 1: 2000</p>
                        <p>Aspect 2: </p>
                        <p>Aspect 3: text</p>
                        <p>Aspect 4: WAHOO</p>
                        <p>Aspect 5: LEGNTH TEST LENGTH TEST LENGTH TEST</p>
                        <p>Aspect 6: https://cmpt276-project.onrender.com</p>
                    </div>
                </div>
                <div class="fitness-info">
                    <h3>Workout Summary</h3>
                    <div class="fitness-summary">
                        <span class="count" id="remainingCount">You have done <span th:text="${workoutsCounter}"></span> workout(s) all time! <br> Keep going!</span>
                    </div>
                </div>
                <div class="fitness-info">
                    <h3>Meal Plan Summary</h3>
                    <div class="fitness-summary">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>