<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></head> 
<body>
    <div class="content-nav">
        <nav>
            <ul class="outline">
              <li class="nav-selected"><a href="/">Home</a></li>
              <li class="nav-unselected"><a href="/">Nutrition Tracking</a></li>
              <li class="nav-unselected"><a href="/">Workout Tracking</a></li>
              <li class="nav-unselected"><a href="/">Meal Plans</a></li>
              <li class="nav-unselected"><a href="/">Recipes</a></li>
              <li><a href="/">Log Out</a></li>
            </ul>
          </nav>
    </div>
    <div class="content-main">
        <div class="content-title">
            <h1>Welcome, {User}. Here is your fitness summary:</h1>
        </div>
        <div>
            <div class="content-holder">
                <h2>Nutrition Summary</h2>
            </div>
            <div class="content-holder">
                <h2>Workout Summary</h2>
            </div>
            <div class="content-holder">
                <h2>Meal Plan Summary</h2>
            </div>
            <div class="content-holder">
                <h2>Recipe Summary</h2>
            </div>
        </div>
    </div>
</body>
</html>