<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>EatTrainBalance</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">EatTrainBalance</div>
            <div class="nav-buttons">
                <a class="button" href="login">Log In</a>
                <a class="button" href="register">Sign Up</a>
            </div>
        </nav>
    </header>

    <main>
        <section class="hero align-center">
            <h1>Welcome to EatTrainBalance</h1>
            <p>Your ultimate hub for nutrition, workout tracking, meal plans, and delicious recipes.</p>
        </section>

        <section class="features">
            <div class="feature">
                <h3>Nutrition Tracking</h3>
                <p>Log meals, track calories, and be informed about your nutrient intake for a balanced diet.</p>
            </div>

            <div class="feature">
                <h3>Workout Tracking</h3>
                <p>Record exercises, set fitness goals, and track your progress.</p>
            </div>

            <div class="feature">
                <h3>Meal Plans</h3>
                <p>Customize meal plans based on dietary preferences and health goals.</p>
            </div>

            <div class="feature">
                <h3>Recipes</h3>
                <p>Explore a variety of healthy recipes, with cooking instructions and nutritional info.</p>
            </div>
        </section>
    </main>
</body>
</html>
