<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrition Tracker</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nutrition.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet"></head> 
</head>
<body>
    <div class="page-container">
        <div class="vertical-navigation" id="vertical-navigation">
            <div class="link-container">
                <p class="align-center unselected"><a href="/dashboard">Home</a></p>
            </div>

            <div class="link-container">
                <p class="align-center current"><a href="/nutrition">Nutrition Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/workouts">Workout Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/plans">Meal Plans</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/admin"><span th:if="${#authentication.getPrincipal().getAuthorities()[0].getAuthority()} == 'ADMIN'">Admin</span></a></p>
            </div>

            <div class="logout-link-container">
                <p class="align-center logout"><a href="/logout">Log out</a></p>
            </div>
        </div>
        
        <div class="page-info-container" id="page-info-container">
            
            <div class="nutrition-navigation-container">
                <button class="calorie-button" onclick="openNutritionData('calorie-modal')">Set Calorie Intake Goal</button>
                <div class="navigation-container">
                    <span th:onclick="|getPastData('past-year', ${#authentication.principal.id})|">Past Year</span>

                    <span th:onclick="|getPastData('past-month', ${#authentication.principal.id})|">Past Month</span>

                    <span th:onclick="|getPastData('past-week', ${#authentication.principal.id})|">Past Week</span>

                    <span th:onclick="|getPastData('all-time', ${#authentication.principal.id})|">All</span>
                </div>
            </div>

            <div class="calorie-counter-container">
                <p class="align-center calorie-title">Daily Calories Remaining</p>
                <p id="calorie-goal" class="align-center calorie-count"></p>
            </div>

            <div class="meals-container">
                <div class="meals-bubble">
                    <h6>Breakfast</h6>
                    <span class="meal-item-count">0</span>
                    <div class="add-see-food-container">
                        <p onclick="openNutritionData('add-breakfast-modal')" style="text-align:center">ADD FOOD</p>

                        <p th:onclick="|getNutritionInfo('Breakfast', ${#authentication.principal.id}, 'breakfast-modal', 'breakfast-data')|">SEE ALL BREAKFAST DATA</p>
                    </div>
                </div>
                <div class="meals-bubble">
                    <h6>Lunch</h6>
                    <span class="meal-item-count">0</span>
                    <div class="add-see-food-container">
                        <p onclick="openNutritionData('add-lunch-modal')" style="text-align:center">ADD FOOD</p>
                        <p th:onclick="|getNutritionInfo('Lunch', ${#authentication.principal.id}, 'lunch-modal', 'lunch-data')|">SEE ALL LUNCH DATA</p>
                    </div>
                </div>
                <div class="meals-bubble">
                    <h6>Dinner</h6>
                    <span class="meal-item-count">0</span>
                    <div class="add-see-food-container">
                        <p onclick="openNutritionData('add-dinner-modal')" style="text-align:center">ADD FOOD</p>
                        <p th:onclick="|getNutritionInfo('Dinner', ${#authentication.principal.id}, 'dinner-modal', 'dinner-data')|">SEE ALL DINNER DATA</p>
                    </div>
                </div>
                <div class="meals-bubble">
                    <h6>Snacks</h6>
                    <span class="meal-item-count">0</span>
                    <div class="add-see-food-container">
                        <p onclick="openNutritionData('add-snack-modal')" style="text-align:center">ADD FOOD</p>
                        <p th:onclick="|getNutritionInfo('Snack', ${#authentication.principal.id}, 'snack-modal', 'snack-data')|">SEE ALL SNACK DATA</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="add-food-modal" id="calorie-modal">
            <span class="exit-modal" onclick="closeNutritionData('calorie-modal')">&#10006;</span>

            <h3 class="modal-title">Set Calorie Goal</h3>

            <form action="/nutrition" method="POST" id="set-calorie-form" onsubmit="calorieGoal(event)">
                <input placeholder="0" class="add-food-input" type="number" required name="set-calorie-goal"/>

                <button class="add-food-button" type="submit">Add</button>
            </form>
        </div>

        <div class="add-food-modal" id="past-year">
            <span class="exit-modal" onclick="closeNutritionData('past-year')">&#10006;</span>
            <h1>Nutrition in the Past Year</h1>
            <div class="past-data-container">
                <div>
                    <h3>Total Calories</h3>
                    <p id="past-year-calorie-intake"></p>
                </div>
                <div>
                    <h3>Total Protein(g)</h3>
                    <p id="past-year-protein-intake"></p>
                </div>
                <div>
                    <h3>Total Fat(g)</h3>
                    <p id="past-year-fat-intake"></p>
                </div>
            </div>
        </div>

        <div class="add-food-modal" id="past-month">
            <span class="exit-modal" onclick="closeNutritionData('past-month')">&#10006;</span>
            <h1>Nutrition in the Past Month</h1>
            <div class="past-data-container">
                <div>
                    <h3>Total Calories</h3>
                    <p id="past-month-calorie-intake"></p>
                </div>
                <div>
                    <h3>Total Protein(g)</h3>
                    <p id="past-month-protein-intake"></p>
                </div>
                <div>
                    <h3>Total Fat(g)</h3>
                    <p id="past-month-fat-intake"></p>
                </div>
            </div>
        </div>

        <div class="add-food-modal" id="past-week">
            <span class="exit-modal" onclick="closeNutritionData('past-week')">&#10006;</span>
            <h1>Nutrition in the Past Week</h1>
            <div class="past-data-container">
                <div>
                    <h3>Total Calories</h3>
                    <p id="past-week-calorie-intake"></p>
                </div>
                <div>
                    <h3>Total Protein(g)</h3>
                    <p id="past-week-protein-intake"></p>
                </div>
                <div>
                    <h3>Total Fat(g)</h3>
                    <p id="past-week-fat-intake"></p>
                </div>
            </div>
        </div>

        <div class="add-food-modal" id="all-time">
            <span class="exit-modal" onclick="closeNutritionData('all-time')">&#10006;</span>
            <h1>Nutrition in the Past Week</h1>
            <div class="past-data-container">
                <div>
                    <h3>Total Calories</h3>
                    <p id="all-time-calorie-intake"></p>
                </div>
                <div>
                    <h3>Total Protein(g)</h3>
                    <p id="all-time-protein-intake"></p>
                </div>
                <div>
                    <h3>Total Fat(g)</h3>
                    <p id="all-time-fat-intake"></p>
                </div>
            </div>
        </div>

        <div class="add-food-modal" id="add-breakfast-modal">
            <span class="exit-modal" onclick="closeNutritionData('add-breakfast-modal')">&#10006;</span>
            <form action="/api/nutrition/add" method="post" onsubmit="return onSubmitForm('breakfast-food-code')">
                <h3 class="modal-title">Add Breakfast Item</h3>

                <input type="hidden" name="meal-type" value="Breakfast"/>

                <input type="hidden" name="user-id" th:value="${#authentication.principal.id}"/>

                <input type="hidden" name="food-code" id="breakfast-food-code" value=""/>

                <input list="breakfast-food-options" name="food-item" placeholder="Breakfast" class="add-food-input" onkeyup="searchFoods(this.value, 'breakfast-food-options', 'breakfast-food-code')" required/>
                
                <datalist id="breakfast-food-options">
    
                </datalist>
                <button class="add-food-button" type="submit">Add</button>
            </form>
        </div>

        <div class="add-food-modal" id="add-lunch-modal">
            <span class="exit-modal" onclick="closeNutritionData('add-lunch-modal')">&#10006;</span>
            <form action="/api/nutrition/add" method="post" onsubmit="return onSubmitForm('lunch-food-code')">
                <h3 class="modal-title">Add Lunch Item</h3>
                <input type="hidden" name="meal-type" value="Lunch"/>

                <input type="hidden" name="user-id" th:value="${#authentication.principal.id}"/>

                <input type="hidden" name="food-code" id="lunch-food-code" value=""/>

                <input list="lunch-food-options" name="food-item" placeholder="Lunch" class="add-food-input" onkeyup="searchFoods(this.value, 'lunch-food-options', 'lunch-food-code')" required/>
                
                <datalist id="lunch-food-options">
                    
                </datalist>

                <button class="add-food-button" type="submit">Add</button>
            </form>
        </div>

        <div class="add-food-modal" id="add-dinner-modal">
            <span class="exit-modal" onclick="closeNutritionData('add-dinner-modal')">&#10006;</span>
            <form action="/api/nutrition/add" method="post" onsubmit="return onSubmitForm('dinner-food-code')">
                <h3 class="modal-title">Add Dinner Item</h3>

                <input type="hidden" name="meal-type" value="Dinner"/>

                <input type="hidden" name="user-id" th:value="${#authentication.principal.id}"/>

                <input type="hidden" name="food-code" id="dinner-food-code" value=""/>

                <input list="dinner-food-options" name="food-item" placeholder="Dinner" class="add-food-input" onkeyup="searchFoods(this.value, 'dinner-food-options', 'dinner-food-code')" required/>
                
                <datalist id="dinner-food-options">
                    
                </datalist>

                <button class="add-food-button" type="submit">Add</button>
            </form>
        </div>

        <div class="add-food-modal" id="add-snack-modal">
            <span class="exit-modal" onclick="closeNutritionData('add-snack-modal')">&#10006;</span>
            <form action="/api/nutrition/add" method="post" onsubmit="return onSubmitForm('snack-food-code')">
                <h3 class="modal-title">Add Snack Item</h3>
                <input type="hidden" name="meal-type" value="Snack"/>

                <input type="hidden" name="user-id" th:value="${#authentication.principal.id}"/>

                <input type="hidden" name="food-code" id="snack-food-code" value=""/>

                <input list="snack-food-options" name="food-item" placeholder="Snack" class="add-food-input" onkeyup="searchFoods(this.value, 'snack-food-options', 'snack-food-code')" required/>
                
                <datalist id="snack-food-options">
                    
                </datalist>

                <button class="add-food-button" type="submit">Add</button>
            </form>
        </div>

        <div class="all-data-modal" id="breakfast-modal">
            <span class="exit-modal" onclick="closeNutritionData('breakfast-modal')">&#10006;</span>
            <h1>Your Breakfast Data</h1>
            <table class="display-nutrition-data-table">
                <tr>
                    <th>Food ID</th>
                    <th>Date</th>
                    <th>Meal Type</th>
                    <th>Food</th>
                    <th>Protein (grams)</th>
                    <th>Calories</th>
                    <th>Fat (grams)</th>
                    <th>Actions</th>
                </tr>
                <tbody id="breakfast-data">

                </tbody>
            </table>
            
        </div>

        <div class="all-data-modal" id="lunch-modal">
            <span class="exit-modal" onclick="closeNutritionData('lunch-modal')">&#10006;</span>
            <h1>Your Lunch Data</h1>
            <table class="display-nutrition-data-table">
                <tr>
                    <th>Food ID</th>
                    <th>Date</th>
                    <th>Meal Type</th>
                    <th>Food</th>
                    <th>Protein (grams)</th>
                    <th>Calories</th>
                    <th>Fat (grams)</th>
                    <th>Actions</th>
                </tr>
                <tbody id="lunch-data">

                </tbody>
            </table>
                  
        </div>

        <div class="all-data-modal" id="dinner-modal">
            <span class="exit-modal" onclick="closeNutritionData('dinner-modal')">&#10006;</span>
            <h1>Your Dinner Data</h1>
            <table class="display-nutrition-data-table">
                <tr>
                    <th>Food ID</th>
                    <th>Date</th>
                    <th>Meal Type</th>
                    <th>Food</th>
                    <th>Protein (grams)</th>
                    <th>Calories</th>
                    <th>Fat (grams)</th>
                    <th>Actions</th>
                </tr>
                <tbody id="dinner-data">

                </tbody>
            </table>
            
        </div>

        <div class="all-data-modal" id="snack-modal">
            <span class="exit-modal" onclick="closeNutritionData('snack-modal')">&#10006;</span>
            <h1>Your Snack Data</h1>
            <table class="display-nutrition-data-table">
                <tr>
                    <th>Food ID</th>
                    <th>Date</th>
                    <th>Meal Type</th>
                    <th>Food</th>
                    <th>Protein (grams)</th>
                    <th>Calories</th>
                    <th>Fat (grams)</th>
                    <th>Actions</th>
                </tr>
                <tbody id="snack-data">

                </tbody>
            </table>
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/nutritionscript.js}"></script>

    <script  th:inline="javascript">
        var userId = '[[${#authentication.principal.id}]]'
        document.addEventListener('DOMContentLoaded', calorieCalculation(userId));
    </script>
</body>
</html>