<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plans.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Meal Plans</title>
</head>
<body>

    <div class="page-container">
        <div class="vertical-navigation">
            <div class="link-container">
                <p class="align-center unselected"><a href="/dashboard">Home</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/nutrition">Nutrition Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/workouts">Workout Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center current"><a href="/plans">Meal Plans</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/admin"><span th:if="${#authentication.getPrincipal().getAuthorities()[0].getAuthority()} == 'ADMIN'">Admin</span></a></p>
            </div>

            <div class="logout-link-container">
                <p class="align-center logout"><a href="/logout">Log out</a></p>
            </div>
        </div>
        <div class="page-info-container">        
            <div class="bar">
                <h1>My Meal Plans</h1>

                <form action="/plans/add" method="post" style="margin-left: auto;">
                    <input type="hidden" id="planTitle" name="planTitle" value="My Meal Plan#1"/>
                    <input type="hidden" id="userId" name="userId" th:value="${#authentication.getPrincipal().getId}"></input>
                    <button type="submit" class="button-29" role="button">Create Plan</button>
                </form>
                <!-- <a href="/createplan" style="margin-left: auto; margin-right: 50px;">
                    <button type="submit" class="button-29" role="button">Create Plan</button>
                </a> -->
                

            </div>
            <div class="line"></div>
            
            <div class="meal-container">
                <!-- TEMP OBJECTS-> connect to database -->
                <!-- <div class="meal-card">
                    Meal Plan #1 -->
                    <!-- Add Table of days and meals -->
                    <!-- <div class="btn-contain">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div> -->
                <!-- </div>
                <div class="meal-card">
                    Meal Plan #2 -->
                    <!-- <div class="btn-contain">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div> -->
                <!-- </div> -->
                <div class="item" th:each="plans:${plans}" th:if="${plans.userID == #authentication.principal.id}">
                    <div class="bar">
                        <h2 class="heading" th:text = "${plans.title}"></h2>
                        <!-- Dynamically adjust -->
                        <div class="week">Week of: July 17th</div>
                    </div>
                    <div class="week-contain">
                        <div class="day">Monday
                            <!-- <div class="meal">Breakfast: Cereal</div>
                            <div class="meal">Breakfast: Cereal</div>
                            <div class="meal">Breakfast: Cereal</div>
                            <div class="meal">Breakfast: Cereal</div> -->
                        </div>
                        <div class="day">Tuesday</div>
                        <div class="day">Wednesday</div>
                        <div class="day">Thursday</div>
                        <div class="day">Friday</div>
                        <!-- <div class="day">Sat</div>
                        <div class="day">Sun</div> -->
                    </div>
                    
                    <form action="/plans/delete" method="post">
                        <input type="hidden" id="planId" name="planId" th:value="${plans.uid}"/>
                        <button type="submit" class="add-meal" role="button">Delete</button>
                    </form>
                    <!-- <button class="add-meal">Add Meal</button> -->
            
                    <div class="space"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>