<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plans.css}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/plans.css"> -->
    <title>Meal Plans</title>
</head>
<body>
    <header>
        <nav>
            <a class="logo" href="dashboard">EatTrainBalance</a>
        </nav>
    </header>
    

    <div class="bar">
        <h1>My Meal Plans</h1>
        <button class="button-29" role="button">Create Plan</button>
    </div>
    <div class="line"></div>
    
    <div class="meal-container">
        <!-- TEMP OBJECTS-> connect to database -->
        <!-- <div class="meal-card">
            Meal Plan #1 -->
            <!-- Add Table of days and meals -->
            <!-- <div class="btn-contain">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div> -->
        <!-- </div>
        <div class="meal-card">
            Meal Plan #2 -->
            <!-- <div class="btn-contain">
                <button class="edit">Edit</button>
                <button class="delete">Delete</button>
            </div> -->
        <!-- </div> -->

        <div class="heading">Meal Plan #1</div>
        <!-- Dynamically adjust -->
        <div class="week">Week of: July 3rd</div>
        <div class="week-contain">
            <div class="day">Monday
                <!-- <div class="meal">Breakfast: Cereal</div>
                <div class="meal">Breakfast: Cereal</div>
                <div class="meal">Breakfast: Cereal</div>
                <div class="meal">Breakfast: Cereal</div> -->
            </div>
            <div class="day">Tuesday</div>
            <div class="day">Wednesday</div>
            <div class="day">Thursday</div>
            <div class="day">Friday</div>
            <!-- <div class="day">Sat</div>
            <div class="day">Sun</div> -->
        </div>
        <button class="add-meal">Add Meal</button>

        <div class="space"></div>
        <div class="heading">Meal Plan #2</div>
        <div class="week-contain">
            <div class="day">Monday
                <!-- <div class="meal">Breakfast: Cereal</div>
                <div class="meal">Breakfast: Cereal</div>
                <div class="meal">Breakfast: Cereal</div>
                <div class="meal">Breakfast: Cereal</div> -->
            </div>
            <div class="day">Tuesday</div>
            <div class="day">Wednesday</div>
            <div class="day">Thursday</div>
            <div class="day">Friday</div>
            <!-- <div class="day">Sat</div>
            <div class="day">Sun</div> -->
        </div>
        <button class="add-meal">Add Meal</button>
        <div class="space"></div>
    </div>
</body>
</html>