<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/plans.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script th:src="@{/js/planscript.js}" defer></script>
    <title>Meal Plans</title>
</head>
<body>

    <div class="add-food-modal" id="add-breakfast-modal" style="display: none;">
        <span class="exit-modal" onclick="closeNutritionData('add-breakfast-modal')">&#10006;</span>
        <form action="/submitFood" method="post">
            <input type="hidden" name="food-code" id="breakfast-food-code" value=""/>

            <!-- <label for="foodName">Food Name:</label>
            <input type="text" id="foodName" name="foodName" required>
            <div id="foodSuggestions"></div> -->
            
            <div class="autocomplete" id="autocomplete">
                <label for="foodName">Foods:</label>
                <input type="text" id="foodName" name="foodName" placeholder="Foods" required>
            </div>
        

            <label for="foodColor" style="display: flex;" >Assign a Color:</label>
            <input type="text" id="foodColor" name="foodColor" placeholder="red,#77DD77,..." style="width: auto;" required>

            <label for="foodserve"style="display: flex;">Serving Size:</label>
            <input type="number" id="foodServe" name="foodServe" placeholder="20 g" required>

            <label for="foodCal">Calories:</label>
            <input type="number" id="foodCal" name="foodCal" placeholder="2000" required>
            <button onclick="autofill()" class="button-33">Autofill</button>

            <label for="foodDay" style="display: flex;">Select a day:</label>
                <select id="foodDay" name="foodDay">
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                </select>
            <input type="hidden" id="planId" name="planId"></input>
            
            <input type="submit" class="add-meal" value="Submit">
        </form>
    </div>


    <div class="page-container">
        <div class="vertical-navigation" id="vertical-navigation">
            <div class="link-container">
                <p class="align-center unselected"><a href="/dashboard">Home</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/nutrition">Nutrition Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/workouts">Workout Tracking</a></p>
            </div>

            <div class="link-container">
                <p class="align-center current"><a href="/plans">Meal Plans</a></p>
            </div>

            <div class="link-container">
                <p class="align-center unselected"><a href="/admin"><span th:if="${#authentication.getPrincipal().getAuthorities()[0].getAuthority()} == 'ADMIN'">Admin</span></a></p>
            </div>

            <div class="logout-link-container">
                <p class="align-center logout"><a href="/logout">Log out</a></p>
            </div>
        </div>
        <div class="page-info-container" id="page-info-container">        
            <div class="bar">
                <h1>My Meal Plans</h1>

                <form action="/plans/add" method="post" style="margin-left: auto;">
                    <input type="text" id="planTitle" name="planTitle" placeholder="Meal Plan Title"/>
                    <input type="hidden" id="userId" name="userId" th:value="${#authentication.getPrincipal().getId}"></input>
                    <button type="submit" class="button-29" role="button">Create Plan</button>
                </form>
                
                <!-- <a href="/createplan" style="margin-left: auto; margin-right: 50px;">
                    <button type="submit" class="button-29" role="button">Create Plan</button>
                </a> -->
                <!-- <form action="/submitFood" method="post">
                    <label for="foodName">Food Name:</label>
                    <input type="text" id="foodName" name="foodName" required>
                    
                    <label for="foodColor">Food Color:</label>
                    <input type="text" id="foodColor" name="foodColor" required>

                    <label for="foodDay">Food Day:</label>
                    <input type="text" id="foodDay" name="foodDay" required>

                    <input type="hidden" id="planId" name="planId" value="2"></input>
                    
                    <input type="submit" value="Submit">
                </form> -->
            </div>
            <div class="line"></div>
            
            <div class="meal-container">
                <!-- TEMP OBJECTS-> connect to database -->
                <!-- <div class="meal-card">
                    Meal Plan #1 -->
                    <!-- Add Table of days and meals -->
                    <!-- <div class="btn-contain">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div> -->
                <!-- </div>
                <div class="meal-card">
                    Meal Plan #2 -->
                    <!-- <div class="btn-contain">
                        <button class="edit">Edit</button>
                        <button class="delete">Delete</button>
                    </div> -->
                <!-- </div> -->
                <div class="item" th:each="plans:${plans}" th:if="${plans.userID == #authentication.principal.id}">
                    <div class="bar">
                        <h2 class="heading" th:text = "${plans.title}"></h2>
                        <!-- <p th:text = "${plans.uid}"></p> -->
                        <!-- Dynamically adjust -->
                        <!-- <div class="week">Week of: July 17th</div> -->
                    </div>
                    <div class="week-contain">
                        <div class="day">Monday
                            <div class="food-container">
                                <!-- <div th:each="food : ${plans.foods}"> -->
                                <div class="draggable food" draggable="true" th:each="food : ${plans.foods}" th:if="${food.day == 'monday'}" th:style="'background-color: ' + ${food.color}">
                                    <div style="display: flex;">
                                        <div>
                                            <span class="food-name" th:text="${food.name}"></span>
                                            <span style="font-size: 8pt;" th:text="'Calories:' + ${food.calories}"></span>
                                        </div>
                                        <div>
                                            <form action="/deleteFoods" method="post">
                                                <input type="hidden" id="foodName" name="foodName" th:value="${food.name}"/>
                                                <input type="hidden" id="planId" name="planId" th:value="${plans.uid}"/>
                                                <button type="submit" class="deletemeal" role="button">✖</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                            <!-- <div class="meal">Breakfast: Cereal</div>
                            <div class="meal">Breakfast: Cereal</div>
                            <div class="meal">Breakfast: Cereal</div>
                            <div class="meal">Breakfast: Cereal</div> -->
                        </div>
                        <div class="day">Tuesday
                            <div class="food-container">
                                <!-- <div th:each="food : ${plans.foods}"> -->
                                <div class="draggable food" draggable="true" th:each="food : ${plans.foods}" th:if="${food.day == 'tuesday'}" th:style="'background-color: ' + ${food.color}">
                                    <div style="display: flex;">
                                        <div>
                                            <span class="food-name" th:text="${food.name}"></span>
                                            <span style="font-size: 8pt;" th:text="'Calories:' + ${food.calories}"></span>
                                        </div>
                                        <div>
                                            <form action="/deleteFoods" method="post">
                                                <input type="hidden" id="foodName" name="foodName" th:value="${food.name}"/>
                                                <input type="hidden" id="planId" name="planId" th:value="${plans.uid}"/>
                                                <button type="submit" class="deletemeal" role="button">✖</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="day">Wednesday
                            <div class="food-container">
                                <!-- <div th:each="food : ${plans.foods}"> -->
                                <div class="draggable food" draggable="true" th:each="food : ${plans.foods}" th:if="${food.day == 'wednesday'}" th:style="'background-color: ' + ${food.color}">
                                    <div style="display: flex;">
                                        <div>
                                            <span class="food-name" th:text="${food.name}"></span>
                                            <span style="font-size: 8pt;" th:text="'Calories:' + ${food.calories}"></span>
                                        </div>
                                        <div>
                                            <form action="/deleteFoods" method="post">
                                                <input type="hidden" id="foodName" name="foodName" th:value="${food.name}"/>
                                                <input type="hidden" id="planId" name="planId" th:value="${plans.uid}"/>
                                                <button type="submit" class="deletemeal" role="button">✖</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="day">Thursday
                            <div class="food-container">
                                <!-- <div th:each="food : ${plans.foods}"> -->
                                <div class="draggable food" draggable="true" th:each="food : ${plans.foods}" th:if="${food.day == 'thursday'}" th:style="'background-color: ' + ${food.color}">
                                    <div style="display: flex;">
                                        <div>
                                            <span class="food-name" th:text="${food.name}"></span>
                                            <span style="font-size: 8pt;" th:text="'Calories:' + ${food.calories}"></span>
                                        </div>
                                        <div>
                                            <form action="/deleteFoods" method="post">
                                                <input type="hidden" id="foodName" name="foodName" th:value="${food.name}"/>
                                                <input type="hidden" id="planId" name="planId" th:value="${plans.uid}"/>
                                                <button type="submit" class="deletemeal" role="button">✖</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <div class="day">Friday
                            <div class="food-container">
                                <!-- <div th:each="food : ${plans.foods}"> -->
                                <div class="draggable food" draggable="true" th:each="food : ${plans.foods}" th:if="${food.day == 'friday'}" th:style="'background-color: ' + ${food.color}">
                                    <div style="display: flex;">
                                        <div>
                                            <span class="food-name" th:text="${food.name}"></span>
                                            <span style="font-size: 8pt;" th:text="'Calories:' + ${food.calories}"></span>
                                        </div>
                                        <div>
                                            <form action="/deleteFoods" method="post">
                                                <input type="hidden" id="foodName" name="foodName" th:value="${food.name}"/>
                                                <input type="hidden" id="planId" name="planId" th:value="${plans.uid}"/>
                                                <button type="submit" class="deletemeal" role="button">✖</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <!-- <div class="day">Sat</div>
                        <div class="day">Sun</div> -->
                    </div>
                    
                    <div class="button-container">
                        <form action="/plans/delete" method="post">
                            <input type="hidden" id="planId" name="planId" th:value="${plans.uid}"/>
                            <button type="submit" class="delete-meal" role="button">Delete</button>
                        </form>
                        <button th:onclick="|openNutritionData('add-breakfast-modal',${plans.uid})|" style="text-align:center" class="add-meal">Add Meal</button>
                    <!-- <button class="add-meal">Add Meal</button> -->
                    </div>
                    <div class="space"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>