<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/workouts.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/nav.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="page-container">
    <div class="vertical-navigation">
      <div class="link-container">
          <p class="align-center unselected"><a href="/dashboard">Home</a></p>
      </div>

      <div class="link-container">
          <p class="align-center unselected"><a href="/nutrition">Nutrition Tracking</a></p>
      </div>

      <div class="link-container">
          <p class="align-center current"><a href="/workouts">Workout Tracking</a></p>
      </div>

      <div class="link-container">
          <p class="align-center unselected"><a href="/plans">Meal Plans</a></p>
      </div>

      <div class="link-container">
          <p class="align-center unselected"><a href="/admin"><span th:if="${#authentication.getPrincipal().getAuthorities()[0].getAuthority()} == 'ADMIN'">Admin</span></a></p>
      </div>

      <div class="logout-link-container">
          <p class="align-center logout"><a href="/logout">Log out</a></p>
      </div>
  </div>
    <div class="page-info-container">
      <div class="container">
        <div class="date-navigation">
          <span class="nav-arrow" id="prevArrow"><i class="fa fa-chevron-left"></i></span>
          <span class="date" id="dateDisplay"></span>
          <span class="nav-arrow" id="nextArrow"><i class="fa fa-chevron-right"></i></span>
        </div>
        <div class="remaining-workouts">
          <span class="count" id="remainingCount">You have done <span th:text="${workoutsCount}"></span> workouts today.</span>
        </div>
        <div class="workout-list" id="workoutList">
          <!-- Workout items will be dynamically added here -->
          <div th:each="workout : ${work}" th:if="${workout.userID == #authentication.principal.id}">
            <div class="workouts-added">
              <div>
                <h5 th:text="${workout.workoutName}"></h5>
                <p>Type: <span th:text="${workout.workoutType}"></span></p>
                <p>Difficulty: <span th:text="${workout.workoutDifficulty}"></span></p>
              </div>
            </div>
          </div>
        </div>
        
        <div>
          <p id="userId" th:text="${#authentication.principal.id}" class="uid"></p>
        </div>
        <div class="add-workout">
          <button id="addWorkoutBtn">Add Workout</button>
        </div>
      </div>
    </div>
</div>
  

  <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="search-title">
        <h4>Search for a workout by muscle.</h4>
      </div>
      <div class="searchbar">
        <input type="text" id="searchBar" placeholder="Enter muscle to search">
      </div>
      <div class="enter">
        <button id="searchBtn">Enter</button>
      </div>
      <div class="exercise-options" id="exerciseOptions">

      </div>
    </div>
  </div>

  <script th:src="@{/js/workoutscript.js}"></script>
</body>
</html>