<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../static/css/workouts.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="date-navigation">
      <span class="nav-arrow" id="prevArrow"><i class="fa fa-chevron-left"></i></span>
      <span class="date" id="dateDisplay"></span>
      <span class="nav-arrow" id="nextArrow"><i class="fa fa-chevron-right"></i></span>
    </div>
    <div class="remaining-workouts">
      <span class="count">{3} workouts remaining</span>
    </div>
    <div class="workout-list">
      <div class="workout-item">
        <span class="workout-name">Workout 1</span>
      </div>
      <div class="workout-item">
        <span class="workout-name">Workout 2</span>
      </div>
      <div class="workout-item">
        <span class="workout-name">Workout 3</span>
      </div>
    </div>
    <div class="add-workout">
      <button>Add Workout</button>
    </div>
  </div>

  <script src="../static/scripts/workoutscript.js"></script>
</body>
</html>
