<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/workouts.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="date-navigation">
      <span class="nav-arrow" id="prevArrow"><i class="fa fa-chevron-left"></i></span>
      <span class="date" id="dateDisplay"></span>
      <span class="nav-arrow" id="nextArrow"><i class="fa fa-chevron-right"></i></span>
    </div>
    <div class="remaining-workouts">
      <span class="count" id="remainingCount"></span>
    </div>
    <div class="workout-list" id="workoutList">
      <!-- Workout items will be dynamically added here -->
    </div>
    <div class="add-workout">
      <button id="addWorkoutBtn">Add Workout</button>
    </div>
  </div>

  <!-- Modal -->
  <div id="myModal" class="modal">
    <div class="modal-content">
      <input type="text" id="searchBar" placeholder="Enter muscle to search">
      <button id="searchBtn">Enter</button>
      <div id="exerciseOptions"></div>
    </div>
  </div>

  <script th:src="@{/js/workoutscript.js}"></script>
</body>
</html>